.card {
    height:18rem;
    width:90vmin;
    position: absolute;
    left:20%;
    top:30%;
}
body{
    height:100%;
    width:100%;
}
.cursor{
    height:2rem;
    width:2rem;
    position: fixed;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
}